<!-- Banner -->
  <section id="banner">
    <div class="content">
      <div class="inner">
        <header>
          <h2>Matt Perrott</h2>
          <p>Software engineer (in the making) and ocean enthusiast.</p>
        </header>
        <!-- <ul class="actions">
          <li><a href="/docs/resume.pdf" target="_blank" class="button huge">Resume</a></li>
        </ul> -->
      </div>
    </div>
  </section>

  {% include experiences.html limit=5 header=true %}

<!-- Undecided banner -->
  <section id="two" class="wrapper cta cta-image">
    <div class="inner">
      <header>
        <h2>Into Tech</h2>
        <ul class="actions">
          <li><a href="/about.html" class="button big">My Story</a></li>
        </ul>
      </header>
      <p>
        Transferring to the Master of Software Engineering was the best decision I've made.<br><br>
        The last two years have been a whirlwind of hard work, lessons and fun.</p>
    </div>
  </section>

<!-- Projects -->
{% include projects.html limit=4 header=true %}

<!--Skills-->
<!-- Two -->
  <section id="two" class="wrapper cta">
    <div class="inner">
      <div class="table-wrapper">
        <table>
          <thead>
            <tr>
              <th>Language [ - Framework]</th>
              <th>Level</th>
            </tr>
          </thead>
          <tbody>
            {% for language in site.data.languages %}
            <tr>
              <td>{{ language.title }}</td>
              <td>{{ language.level }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <header>
        <h2>Technical Skills</h2>
        <ul class="actions">
          <li><a href="#" class="button big">See all</a></li>
        </ul>
      </header>
    </div>
  </section>
