<!-- Banner -->
  <section id="banner">
    <div class="content">
      <div class="inner">
        <header>
          <h2>Matt Perrott</h2>
          <p>Software engineer (in the making) and ocean enthusiast.</p>
        </header>
        <ul class="actions">
          <li><a href="/docs/resume.pdf" target="_blank" class="button huge">Resume</a></li>
        </ul>
      </div>
    </div>
  </section>

  {% include experiences.html limit=5 %}

<!-- Undecided banner -->
  <section id="two" class="wrapper cta">
    <div class="inner">
      <header>
        <h2>Ultrices ante sagittis nunc senectus libero netus</h2>
        <ul class="actions">
          <li><a href="#" class="button big">How it works</a></li>
        </ul>
      </header>
      <p>Lorem ipsum dolor sit amet interdum mollis sapien. Sed ac risus. Phasellus lacinia, ullamcorper laoreet, lectus arcu pulvinar lorem ipsum interdum sed tempus sagittis lorem feugiat. In fringilla diet consectetur. Morbi libero orci, consectetur in odio maximus felis. Lorem ipsum ullamcorper laoreet, lectus arcu pulvinar lorem ipsum interdum sed tempus sagittis lorem feugiat. In fringilla diet consectetur.</p>
    </div>
  </section>

<!-- Projects -->
{% include projects.html limit=4 header=true %}

<!--Skills-->
<!-- Two -->
  <section id="two" class="wrapper cta">
    <div class="inner">
      <div class="table-wrapper">
        <table>
          <thead>
            <tr>
              <th>Language [ - Framework]</th>
              <th>Level</th>
            </tr>
          </thead>
          <tbody>
            {% for language in site.data.languages %}
            <tr>
              <td>{{ language.title }}</td>
              <td>{{ language.level }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <header>
        <h2>Technical Skills</h2>
        <ul class="actions">
          <li><a href="#" class="button big">See all</a></li>
        </ul>
      </header>
    </div>
  </section>
