<!-- Header -->
  <header id="header" class="alt">
    <a href="https://github.com/peroh" target="_blank"><h1 class="icon fa-github"></h1></a>
    <a href="https://www.linkedin.com/in/perrott/" target="_blank"><h1 class="icon fa-linkedin"></h1></a>
    <nav id="nav">
      <ul>
        <li><a href="index.html">About Me</a></li>
        <li><a href="#">Experience</a></li>
        <li>
          <a href="#" class="submenu">Projects</a>
          <ul>
            <li><a href="left-sidebar.html">University</a></li>
            <li><a href="right-sidebar.html">Work</a></li>
            <li><a href="no-sidebar.html">Personal</a></li>
            <li>
              <a href="#">Submenu</a>
              <ul>
                <li><a href="#">Option One</a></li>
                <li><a href="#">Option Two</a></li>
                <li><a href="#">Option Three</a></li>
                <li><a href="#">Option Four</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a href="#">Notes</a></li>
        <li><a href="#">Resume</a></li>
      </ul>
    </nav>
  </header>
